<div class="social">
	<p>
		<a href="http://bit.ly/2xU6t6z" target="_target" title="YouTube"><i class="fab fa-youtube"></i></a> 
		<a href="http://bit.ly/2OU6KOj" target="_target" title="Steam"><i class="fab fa-steam"></i></a> 
		<a href="http://bit.ly/2Qd7y0Y" target="_target" title="Instagram"><i class="fab fa-instagram"></i></a> 
		<a href="http://bit.ly/2EtCPtO" target="_target" title="Twich"><i class="fab fa-twitch"></i></a> 
		<a href="http://bit.ly/2Ilj0Vk" target="_target" title="Twitter"><i class="fab fa-twitter"></i></a> 
		<a href="http://bit.ly/2yApf41" target="_target" title="Discord"><i class="fab fa-discord"></i></a>
	</p>
</div>