div.contato{
	height: 15vh;

	display: flex;
	justify-content: center;
	align-items: center;

	p{
		a{
			transition: $default-transition;
			border: .2rem solid $default-color;
			border-radius: 5rem;
			padding: .5rem 3rem;
			box-shadow: 0 .3rem 0 $default-hover;

			display: inline-block;
			color: $default-color;

			font-size: 18pt;
			font-weight: bolder;


			&:hover{
				color: $default-hover;
				text-decoration: none;
			}
			
			&:active{
				box-shadow: none;
				transform: translatey(5px);
			}
		}
	}
}