@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

*{
	box-sizing: border-box;
	font-family: 'Silkscreen', arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a{
	color: $default-color;
}
a{
	&:hover{
		color: $default-hover;
	}
}