@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");

*{
	font-family: 'amatic sc', cursive;
	box-sizing: border-box;

	p, a, h1{
		margin: 0;
		padding: 0;
		border: 0;

		color: $default-color
	}
}