nav.social{	
	height: 5vh;
	
	display: flex;
	justify-content: center;
	align-items: center;

	margin-bottom: 1rem;

	ul{
		padding: 0;
		margin: 0;

		li{
			display: inline-block;

			a{
				font-size: 30pt;
				margin: 0 .3rem;
				transition: $default-transition;

				&:hover{
					font-size: 45pt;
					color: $default-hover;
				}
			}
		}
	}
}