// Variaveis
$default-color: #ffffff;
$default-hover: #ffd230;
$default-bg-color: #222f3e;
$default-transition: all 150ms ease;

// Layouts
@import "pages";

// Imports
@import "reset";
@import "body";
@import "terminal-layout";
@import "header";
@import "navbar";
@import "social";
@import "footer";
