// Variaveis
$default-color: #ffffff;
$default-hover: #ffd230;
$default-bg-color: #2d3436;
$default-transition: all 150ms ease;

// Layouts
@import "pages";

// Imports
@import "reset";
@import "body";
@import "header";
@import "navbar";
@import "social";
@import "footer";

body{
	code{
		color: $default-color;
	}
	nav.menu-validator{
		color: $default-hover;
	}

}