// Variaveis
$default-color: white;
$default-hover: #ffd230;
$default-bg-color: #2d3436;

$default-transition: all 150ms ease;

// Imports
@import "reset";
@import "body";
@import "pic_profile";
@import "header";
@import "navbar";
@import "social";
@import "footer";
@import "contato";

// Layouts
@import "pages";